# Breakdown of the work to be done

# Main page - new user/logged out user
#   Registration and login with social networks
#   Registration and login without social networks

# Main page - logged in user

# Profile page

# History of the workouts

# Comparsion with athletes from dataset
#   Probability to run under time based on your schedule 

# Create plan  
#    Days of the week
#    Comfortable and best paces on different distances
#    Distances run in the week       

# Track excersice 
#  Record time, distance (metric/imperial), pace calculated (can choose metric/imperial)


