requests==2.21.0
Flask==2.0.3
pyOpenSSL==19.0.0
Flask-Login==0.4.1
Flask-Session

# Breakdown of the work to be done

# Main page - new user/logged out user

# Main page - logged in user
# -- Show runs sorted by date

# - Profile page
# Add password checks - with simbols, at least 10 lenght, with numbers

# - Comparsion with athletes from dataset
# -- 4weeks stats this runner
# -- Comparison with other athelets


# Plan is to be postponed
# - Create plan  
# -- Days of the week
# -- Comfortable and best paces on different distances
# -- Distances run in the week       

# - Track excersice 
# -- Record date, time, distance (metric/imperial), speed calculated (can choose metric/imperial)
# -- Weather API to add weather at place, time, record in the json database

