{% extends "layout.html" %}

{% block title %}
Add a run
{% endblock %}

{% block main %}
<form action="/addrun" method="post" id="addrunForm">
    <div class="addruns">
        <div class="mb-3">
            <label for="date">Date:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="date" name="date" type="date">
        </div>
        <div class="mb-3">         
            <label for="distance" style="padding-right: 4em;">Distance:</label>
            <div class="distance-group">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="distance" name="distance" type="text">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="flexSwitchCheckDefault" {% if imperial==1 %}checked{% endif %}>
                    <label class="form-check-label" for="flexSwitchCheckDefault" id="switchLabel" name="switchLabel">{% if imperial==1 %}mi{% else %}km{% endif %}</label>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="time">Time:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="time" name="time" type="time"
                step="1">
        </div>
        <div class="mb-3">
            <label for="city">Your location:</label>
            <input autofocus class="form-control mx-auto w-auto" id="city" name="city" type="text">
            <input type="hidden" id="lat" name="lat">
            <input type="hidden" id="lang" name="lang">
        </div>
        <div class="addRunBtn">
            <button class="btn btn-primary mb-3" id="addrun" type="submit">Add run</button>
        </div>
    </div>
</form>
{% endblock %}